html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;    
}

header {
    width: 100%;
    position: fixed;
    height: 6rem;    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("leaves.png");
    background-image: url("leaves.png"), linear-gradient(rgba(209, 53, 49), rgb(240, 105, 64));
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid rgb(211, 211, 211);
    z-index: 100;
}

.previous, .next{
    color: black;
    padding-right: 2rem;
    padding-left: 2rem;    
}

a:hover {
    color: white;
}

aside {
    left: 0;
    top: 4rem;
    bottom: 0;
    background: linear-gradient(90deg,  rgb(255, 208, 136), rgb(255, 255, 255));
    padding-top: 7.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(211, 211, 211);
}

.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

main {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 208, 136));
    display: none;
    width: 100%;
    padding: 8rem 3rem 2rem 3rem;
}

#date {
    margin-bottom: 0.75rem;
    box-shadow: 0px 0px 1px rgb(196, 196, 196);
}

#todoInput {
    margin-bottom: 1rem;
    max-width: 8.5rem;
    box-shadow: 0px 0px 1px rgb(196, 196, 196);
}

button {
    background: linear-gradient(90deg, hsl(41, 55%, 58%), hsl(22, 100%, 65%));
    border: 1px solid;
    height: 1.5rem;
    width: 6.5rem;
    filter: contrast(140%);
    margin-bottom: 2rem;
    box-shadow: 2px 2px 2px rgb(128, 128, 128);
    z-index: 99;
    opacity: 0.9;
}

button:hover {
    cursor: pointer;
    filter: contrast(180%)
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calendar-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    font-size: 1rem;
}

.calendar-item {
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
}

.calendar-title {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    background: linear-gradient(90deg, hsl(60, 39%, 63%), hsl(41, 55%, 58%));
}

.calender-title h3 {
    padding: 0.5rem;
    justify-content: center;
}

.dayDiv {
    background: hsla(60, 39%, 63%, 0.3);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem;
    min-height: 4rem;
}

.todoDate {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
}


.todoDate p {
    margin: 0;
    padding-left: 1rem;
    align-items: flex-end;
    font-size: 0.8rem;
    filter: hue-rotate(150deg);
}

.todoDate p:hover {
    filter: hue-rotate(0deg);
    cursor: pointer;
}

.textDiv {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
}

.textDiv p {
    padding: 0;
    margin: 0;
}

@media (min-width: 60em) {
    main {
        display: flex;
        flex-direction: column;
    }

    aside {
        width: 20rem;
    }
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 3rem;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: 0.5rem;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.divider {
    width: 85%;
    margin-bottom: 2rem;
}

.leaves {
    margin: auto;
}